<form ng-submit="ok()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">Protect file with password</h4>
	</div>
	<div class="modal-body">
		<p>You can enter a password here. <br> Only peers provided with this password will have access to it.</p>

		<form role="form">		
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Password" ng-model="input.password">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="ok()">Save password</button>
	</div>
</form>